<div class="about">
  <br>
  <br>
  <h1 class="center">About</h1>
  <div class="container-fluid ">
    <table>
      <tr><td class="desc"><h3>Welcome to WheelTimeCycles!</h3>
        <p>Hi, my name is WheelTimeCycles and I really like bikes. I mean, I would marry one if was legal. </p>
        <p>I want to share what I love with the whole world. So here's what I have. My blog is a cool place. Theres a beginner corner too!</p>
        <p>I also sell bikes. Since sometimes you really need just one part off of a bike, you can send me a pull request to grab you that one part. I will also take part requests so I can provide you the best bike experience possible.</p>
        <p>I'm always around so feel free to contact me with any questions</p>
        <p>Sincerely,</p>
        
        <strong><p>WheelTimeCycles</p></strong>
        <strong><p>Good Spokes From Good Folks</p></strong>
      
         </td><td> <img class="aboutimage img-responsive" src="../assets/images/about.jpg"></td></tr>
    </table>
    
  </div>
</div>